.App {
  text-align: center;
}
.begin-btn {
  display: block;
  width: 50vw;
  height: 5vh;
  margin: 5vh 20vw;
  border: 2px solid #404040;
  border-radius: 15px;
  font-size: 18px;
  line-height: 5vh;
  color: #202020;
  text-decoration: none;
  background-color: #ffffff;
}

.begin-btn:hover {
  background-color: #ff9090;
}

.form-container {
  padding: 10vh 5vw;
}

.pag-btn {
  display: block;
  position: absolute;
  margin-top: 10vh;
}

.prev {
  left: 15vw;
}

.next {
  right: 15vw;
}

.pag-btn:hover {
  background-color: #ff9090;
}